extends baseEmail

block content
  p Hi,
  p Welcome to #{payload.appInfo.name}, the social media platform for individuals with autism! We are excited to have you join our community.
  p We're all a big family here! To get started, please verify your account by using the verification token provided below:

  b
    h2 #{payload.user.token}

  p Verifying your account will ensure that you have full access to all the features and benefits #{payload.appInfo.name} offers. It's an important step that helps us maintain a safe and inclusive environment for our community members.
  p If you have any questions or encounter any issues during the verification process, please don't hesitate to reach out to our support team at [#{payload.appInfo.email} or #{payload.appInfo.phone}]. We are here to assist you!

  p Once your account is verified, you can start exploring and connecting with other members of the #{payload.appInfo.name} community. Share your experiences, join discussions, and find support from individuals who understand and embrace autism.
  hr
  small Thank you for joining #{payload.appInfo.name}! We look forward to seeing you actively participate in our platform and making valuable connections within the autism community.
  br
  small
    b - #{payload.appInfo.email}, #{payload.appInfo.name}