extends ../baseEmail

block content
  p Hi Admin,
  p We would like to inform you that a user has updated the status of their support request to "Closed." Please find the updated details below:

  p
   b User Details: <br>
  ul
    li Name: #{payload.user.firstname} #{payload.user.lastname}
    li Email: #{payload.user.email}
    li Ticket reference Number: #{payload.support.reference_id}

  p
   b Support Request Details:
  ul
    li Date and Time: #{payload.support.createdAt}
    li Request Description: #{payload.support.description}
    li Status: #{payload.support.status.toUpperCase()}

  p Please review the closure details and take note of the support request closure. If there are any remaining actions or follow-ups required from your end, please ensure they are completed accordingly.

  p If you need any additional information or have any questions regarding the closed support request, please feel free to reach out to the user directly at the provided email address.

  p Thank you for your attention to this matter. We greatly appreciate your efforts in delivering exceptional support to our valued users.

  br
  small
    b - #{payload.appInfo.email}, #{payload.appInfo.name}