extends ../baseEmail

block content
  p Hi #{payload.user.firstname} #{payload.user.lastname},
  p We are writing to inform you that your support request has been successfully closed. Please find the details below:

  p
   b Support Request Details:
  ul
    li Ticket reference Number: #{payload.support.reference_id}
    li Status: #{payload.support.status.toUpperCase()}

  p If you have any further questions or require additional assistance in the future, please do not hesitate to reach out to us at [Support Email or Contact Information]. We are here to help and provide ongoing support.

  p Thank you for allowing us to assist you with your support request. We appreciate your patience and understanding throughout the process. Your satisfaction is important to us, and we value your partnership with #{payload.appInfo.name}.


  br
  small
    b - #{payload.appInfo.email}, #{payload.appInfo.name}